* {
	padding: 0;
	margin: 0;
	font-size: 16px;
}
body {
	background: #FF6600;
	color: #333;
	text-align: justify;
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif
}
#wrapper {
	margin: 1rem auto;
	min-width: 770px;
	max-width: 990px;
	background: #FFFFFF;
}
/* Header */
header #headerheight {
	height: 110px;
	margin-bottom: 1rem;
}
#pageheader {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
#logo {
	width: 110px;
	height: 110px;
	margin: 0;
	order: 1;
}
#logo .logo {
	border: 0;
}
#stm {
	display: block;
	width: 10%;
	height: 110px;
	padding: 5px;
	text-align: right;
	order: 3;
}
#stm + #29025 + ul  {
	list-style: none inside none;
}

#headertitle {
	width: 50%;
	order: 2;
}
#headertitle hr {
/*	width: 40%; */
	height: 15px;
	color: #FFFFFF;
	border-top: 5px solid #CC0000;
	border-bottom: 5px solid #0000CC;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}
#headertitle1 {
	color: #000000;
	text-align: center;
	font-size: 2.0rem;
	font-weight: bold;
	line-height: 100%;
}
#headertitle2 {
	color: #666666;
	text-align: center;
	margin-top: 0;
	font-size: 1.5rem;
	font-style: normal;
	line-height: 100%;
}
/* Maincontent */
#maincontent {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: start;
	width: 100%;
}
#left {
	flex-grow: 1;
	width: 15%;
}
#center {
	width: 65%;
	padding: 0;
	margin: 0.5rem;
	flex-grow: 5;
}
#right {
	width: 15%;
	flex-grow: 1;
	margin: 1rem;
}
/* Footer */
footer {
	margin-top: 1.5rem;
	height: 1.5rem;
	border-top: 3px solid #CC0000;
	border-bottom: 3px solid #0000CC;
	text-align: center;
	line-height: 1.4rem;
	bottom: 1rem;
	font-size: 0.8rem;
	font-style: italic;
}

/* Menu */
#pfad {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	width: 100%;
	height: 1.6rem;
	line-height: 1.6rem;
	font-size: 1.2rem;
	font-style: normal;
	background: #000099;
	color: #FFFFFF;
}
#pfad a:link,
#pfad a:visited,
#pfad a:hover,
#pfad a:focus {
	color: #FFCC33;
	font-size: 1.0rem;
	line-height: 1.2rem;
	text-decoration: none;
	font-weight: bold;
}
#menu {
	/*
	margin-left: -1.5rem;
	 */
	margin-top: 0.5rem;
}
/* Content Mainmenu */
ul.mainnav li {
	margin-bottom: 0.2rem;
	margin-left: 0;
	list-style: none inside;
	font-size: 0.9rem;
	border: #000099 solid 1px;
}
ul.mainnav li ul li {
	margin-bottom: 0;
}
ul.mainnav li a {
	display: block;
	text-decoration: none;
}
ul.mainnav li a:link,
ul.mainnav li ul li a:link {
	border: #E1E8F1 solid 0.5rem;
	color: #000099;
	background: #E1E8F1;

}
ul.mainnav li a:visited,
ul.mainnav li ul li:visited,
ul.mainnav li a:focus,
ul.mainnav li ul li a:focus {
	background: #FFFFCC;
	color: #000099;
	border: #FFFFCC solid 0.5rem;
}
ul.mainnav li a:hover,
ul.mainnav li ul li:hover,
ul.mainnav li a:active,
ul.mainnav li ul li a:active {
	background: #FFFFCC;
	color: #000099;
	border: #FFFFCC solid 0.5rem;
}
/* Alphabetical Navigation */
#abcmenu {
	margin-bottom: 1.0rem;
}
.cM {
	margin-top: 1.0rem;
	list-style: none inside;
	display: block;
	color: #FFFFFF;
	background: #000099;
	border-right: 3px solid #e00000;
	border-left: 3px solid #e00000;
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 1.0rem;
}
.cM li.cM_NO,
.cM li.cM_ACT,
.cM li.cM_CUR {
	border: 1px solid #000099;
	display: inline;
	background: #000099;
	margin-left: 0;
}
.cM_NO a,
.cM_NO a:link,
.cM_NO a:visited,
.cM_NO A:focus {
	color: #FFCC33;
	text-decoration: none;
	border: 3px solid #000099;
}
.cM_CUR a,
.cM_CUR a:link,
.cM_CUR a:visited,
.cM_CUR a:hover,
.cM_CUR A:focus,
.cM_NO a:active,
.cM_NO a:hover {
	color: #000099;
	background: #FFFFCC;
	border: 3px solid #FFFFCC;
}
nav dl.csc-menu-4 {
	border-left: 1px solid #0033FF;
	border-right: 3px solid #0033FF;
	border-bottom: 3px solid #0033FF;
}
nav dl.csc-menu-4 dt {
	border-top: 1px solid #0033FF;
	font-size: 1rem;
	font-style: italic;
}
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-justify {
	text-align: justify;
}

h1 {
	text-align: center;
	font-size: 1.4rem;
	line-height: 1.5rem;
	margin-bottom: 1.4rem;
}
h2 {
	text-align: center;
	font-size: 1.3rem;
	line-height: 1.5rem;
	margin-bottom: 1.3rem;
}
h1 + h2 {
	margin-bottom: 0.1rem;
	font-size: 1rem;
	font-style: italic;
	color: #000000;
	margin-bottom: 1rem;
}
h3 {
	text-align: center;
	font-size: 1.2rem;
	line-height: 1.3rem;
}
h4 {
	text-align: center;
	font-size: 1.0rem;
	line-height: 1.1rem;
}

p, ul, ol {
	color: #333333;
	font-size: 1rem;
	line-height: 1.4rem;
	margin-bottom: 0.9rem;
}
ul {
	text-decoration: none;
	list-style: disc inside none;
	margin-left: 1rem;
}
blockquote {
	margin: 0 1rem;
}
blockquote, q {
	background: #ffffc7;
	font-style: italic;
	color: #000033;
}
.image {
	max-width: 350px;
}
.image-caption {
	color: #000099;
}
.image-embed-item {
	display: inline-block;
}
figure {
	padding: 0.3rem;
	text-align: center;
	border: thin #C0C0C0 solid;
	background: #E1E8F1;
}
figcaption {
	text-align: center;
	font-style: italic;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: #000066;
	background: #E1E1F1;
}
div.person {
	margin-top: 0.5rem;
}

h4.person {
	text-align: center;
	color: #FFCC33;
	background: #000099;
	margin: 0 0 0.3rem 0;
}

.person-cat {
	padding: 0.2rem;
	background: #000099;
	color: #FFCC33;
	display: inline-block;
	width: 6rem;
}
.person-link, .person-nolink {
	padding: 0.2rem;
	text-align: left;
}
.person-link a {
	text-decoration: none;
}
.person-nolink {
	color: #E00000;
}
.person-entry {
	background: #C0C0C0;
	margin: 0;
}
.lastChange {
	line-height: 0.8rem;
	font-size: 0.8rem;
	font-style: italic;
	text-align: right;
}
.test {
	background: #E00000;
}
